.DS_Store
MinimalJson.xcodeproj/project.xcworkspace/xcshareddata/MinimalJson.xccheckout
MinimalJson.xcodeproj/project.xcworkspace/xcuserdata/nick.xcuserdatad/UserInterfaceState.xcuserstate
MinimalJson.xcodeproj/xcuserdata/nick.xcuserdatad/xcschemes/MinimalJson.xcscheme
MinimalJson.xcodeproj/xcuserdata/nick.xcuserdatad/xcschemes/xcschememanagement.plist
