<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MinimalJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MinimalJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>013F077C1A5EE0DE00696779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013F07861A5EE0DE00696779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B023631A5D399E00BC2A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B023781A5D399E00BC2A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
